.container {
  max-width: 1200px;
  margin: auto;
}

.nav {
  background: var(--chakra-colors-gray-900);
  color: #eee;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.navContent {
  a {
    display: flex;
    align-items: center;
  }
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 50px;
  a {
    margin-top: 0.75rem;
    margin-left: 1rem;
  }

  h2 {
    margin: 0.5rem;
  }
  h3 {
    margin: 0.85rem;
    margin-right: 1.5rem;
  }
}
